<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Bruno Correia">
    <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>Orders</h1>
    </header>

    {{#if msg}}
    <p class="msg-success">{{msg}}</p>
    {{/if}}

    <ul class="order_list">
        {{#each orders}}
        <div class="card">
            <div class="container">
                <h4><b>Order #{{this.orderID}}</b></h4>
                <p>Order Status: {{this.statusCode}}</p>
                <p>Table Number: {{this.tableNumber}}</p>
                <p>Number of Diners: {{this.numDiners}}</p>
                <p>Time Placed: {{this.time}}</p>
                <p>Total Price: {{this.totalPrice}}</p>
                {{#ifCond ../role "kitchen"}}
                <form action="/secure/orders/{{this.orderID}}" method="post">
                    <button class="mark_prepared" type="submit" formmethod="post">Mark as 'Prepared'</button>
                </form>
                {{/ifCond}}
            </div>
        </div>
        {{/each}}
    </ul>

    {{#ifCond ../role "waiting"}}
    <main>
        <p><a href="/secure/orders/create">Add Order</a></p>
    </main>
    {{/ifCond}}
</body>

</html>